.chatModal {
    position: fixed;
    bottom: 0px;
    right: 20px;
}
.section {
    width:300px;
}
/* ChatModal.css */
.currentUserMessage,
.authorMessage {
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
}

.currentUserMessage {
  background-color: #ffa900;
  color: white;
}

.authorMessage {
  background-color: #eee;
  color: black;
}

.closeBtn {
  border:none;
  background-color: rgb(218, 143, 51);
  color:white;
  margin-left:5px;
}
.minimizeBtn {
  position: fixed;
    bottom: 40px;
    right: 40px;
    border:none;
    background-color: transparent !important;
}
.minimizeBtn img {
  width:80px;
}
.timestamp {
  font-size:12px;
}
.displayedMessage {
  display:flex;
  align-items: center;
  justify-content: space-between;
}