.comments-list {
    list-style: none;
    background-color: rgb(243, 243, 243);
    height: auto;
    padding: 10px;
    margin: 20px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    margin-bottom: -4px;
    position:relative;
    margin-left:30px;
}

.author {
    width:30px;
    margin-left:20px;
}

.comment-form {
    display:flex;
    align-items: center;
}  
.type-comment{
    height: 40px;
}
.commentAuthor {
    position: absolute;
    top:-20px;
    font-size:13px;
    font-weight:bold;
    background-color: white;
    width:300px;
}
.commentator {
    width:40px;
    height:40px;
    margin-right:5px;
    border-radius:50%;
}
.imgAuthor {
    display:flex;
}
.likeBtn {
    margin-left:10px;
}

.chatBubble {
    padding:15px;
    margin:20px;
    
}
.chatBtn {
    border:none;
    color:white;
    background-color: rgb(233, 162, 75);
    padding:5px;
    width:60px;
    font-size:16px;
    position:absolute;
    right:10px;
    top:55px;
    margin:5px;
    
}
.sendChat {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position:relative;
    padding:10px;
}
.authorsName {
 font-size:14px;
 border:none;
 background-color: white;
 color:rgb(51, 65, 192);
 margin-left:-20px;
}